.container {
  text-align: center;
  height: 100%;
  background-color: rgb(227, 236, 255);
}

.app {
  padding: 40px;
  text-align: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 75%;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .app {
    width: 80%;
  }
}

.fakeimg {
  background-color: #ddd;
  width: 50%;
  padding: 20px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
