.container {
  text-align: center;
  background-color: rgb(227, 236, 255);
  display: flex;
}

.app {
  padding: 40px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 75%;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .app {
    width: 80%;
  }
}

/* Main Content */
.content {
  padding: 0 20px 20px 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
}

/* Fake image */
.fakeimg {
  background-color: #ddd;
  width: 100%;
  padding: 20px;
  height: 200px;
  border-radius: 5px;
}

/* Add a card effect for articles */
.leftcard {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #ddd;
}

.rightcard {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .rightcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .leftcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .rightcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
}
