* {
  box-sizing: border-box;
}

.container {
  background-color: rgb(6, 0, 65);
}

/* Navigation Bar */
.header {
  top: 0;
  left: 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
  background: white;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
}

.topnav img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  width: 152px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: rgb(6, 0, 65);
  color: white;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    width: 152px;
    cursor: pointer;
  }
}

/* Main Title */
.main {
  font-size: 40px;
  text-align: center;
  background: #ddd;
}

.main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Main Content */
.content {
  padding: 0 20px 20px 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
}

/* Fake image */
.fakeimg {
  background-color: #ddd;
  width: 100%;
  padding: 20px;
  height: 200px;
  border-radius: 5px;
}

/* Add a card effect for articles */
.leftcard {
  background-color: white;
  padding: 20px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.rightcard {
  background-color: white;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .rightcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .leftcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .rightcard {
    background-color: white;
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
}
